@use '../../styles/mixins'
@use '../../styles/variables'
    
.links-menu
    text-decoration: none
    margin: 0 1rem
    color: variables.$text-color
    font-size: 20px 
    font-weight: 600
    transition: transform .3s ease-in-out

    .links-menu:hover
        color: #e3f5ff 

        
