@use '../../styles/mixins'
@use '../../styles/variables'

#information
    @include mixins.center 
    padding: 0 1.5%
    width: 100%
    height: 8vh

    @include mixins.tablet 
        height: 8vh 

    @include mixins.mobile       
        height: 4vh

    p 
        flex-basis: 100%
        color: variables.$text-color
        font-weight: 500
        font-size: max(16px, 1vw)
        text-align: center 
        margin: 0 1% 

        @include mixins.notebook 
            font-size: max(16px, 1vw) 
    
        @include mixins.tablet 
            font-size: max(12px, 1.5vw) 

        @include mixins.mobile       
            font-size: min(12px, 3vw)

       

               
           
                
            
   